<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
</head>
<body>

<#--播放音乐-->// h5标签
<!--<audio id="music" loop="loop">-->
    <!--&lt;!&ndash;<source src="/sell/mp3/song.mp3" type="audio/mpeg">&ndash;&gt;-->
<!--</audio>-->
</body>
<script th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
<script>
    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket('ws://localhost:8080/webSocket');
    } else {
        alert('该浏览器不支持websocket');
    }
    websocket.onopen = function (event) {
        console.log('建立连接');
    }

    websocket.onclose = function (event) {
        console.log('关闭连接');
    }

    websocket.onmessage = function (event) {
        alert('收到消息:' + event.data)
        //弹窗提醒，播放音乐
        // $('#msgModel').modal('show');
        // document.getElementById('music').play();
    }

    websocket.onerror = function (event) {
        console.log('websocket通信发生错误');
    }

    websocket.onbeforeunload = function () {
        websocket.close();
    }
</script>
</html>